.new__movie__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new__movie__form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
}
.new__movie__form label {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: sans;
    font-weight: bold;
}
.new__movie__form input {
    height: 50%;
    font-size: 24px;
}
.new__movie__form input:focus {
    outline: none;
}
.new-movie-add-button {
    display: flex;
    height: 20px;
    align-items: center;
}